.button {
  background: var(--color-dark);
  color: var(--color-white);
  border-radius: 0.5rem;
  padding: 1.25rem 2.94rem;
  font-weight: 700;
  box-shadow: none;
  border-width: 0;
  white-space: nowrap;
}
