:root {
  --color-active: #ffbc50;
  --color-primary: #f17a8f;
  --color-secondary: #6cc9b7;
  --color-additonal: #3886d1;
  --color-base: #79baf2;
  --color-secondary: #428aca;
  --color-device: #fbf8f3;
  --color-objects: #fbf8f3;
  --color-white: #fff;
  --color-dark: #232340;
}
